/* 
Global variables for colors
*/
:root {
  --bg-header-footer: #dfdacb;
  --bg-page-color: #ededec;
  --white-color: #fcfdfd;
  --font-family-color: #82817e;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Chicle", serif;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* 
Heading general styles- Start
*/

/* 
Heading general styles- End
*/

.page {
  min-height: calc(100vh - (12rem + 14rem));
}
