h2 {
  font-family: "Chicle", serif;
  color: #5a6448;
}

.texts {
  color: #646461;
}

.email {
  background: #5a6448;
  padding: 5rem 0; /* 100% width, maintain aspect ratio for height */
  display: flex;
  z-index: var(--z-index-v-2);
}
