.disabledBtn {
  border-color: var(--lighter-secondary);
  border-width: 4px;
  padding: 0.75rem /* 12px */;
  border-radius: 9999px;
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.activeBtn {
  background-color: var(--secondary-color);
  border-color: var(--darker-secondary);
  border-width: 4px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  padding: 0.75rem /* 12px */;
  border-radius: 9999px;
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.activeBtn:hover {
  background-color: var(--lighter-secondary);
  color: var(--secondary-color);
  transition: background-color 0.4s linear, border 0.4s linear,
    color 0.4s linear;
}
