.swal-confirm-button {
    background-color: #1f4c2ad2; /* Green color for confirm button */
}

.swal-deny-button {
    background-color: #dcb235; /* Red color for deny button */
}

.swal-cancel-button {
    background-color: #007bff; /* Blue color for cancel button */
}